name: Tests

on:
  pull_request:
  push:
    branches:
      - master


jobs:
  tests:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      # Use the official GitHub setup-python action to benefit from runner caching.
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest
